/* GENERAL */
body {
	padding-top: 3em;
	padding-bottom: 6em;
	background-color: #efebe1;
}
.container {
	
}
.intro .btn {
	
}
.contact h2 { margin-bottom: 1em; }
.contact img { 
	width: 133px; 
	border-radius: 100%;
	margin-bottom: 1em;
}

/* COLORS */
a.link {
	color: #ffa200; 
}
a.link {
	color: #ffa200; 
}
/* FONTS */
.small-caps {	}
h2.has-top-margin {margin-top: 2em;}
 
a, a.btn, p, h1, h2, h3, h4 { 
	font-family: 'Roboto Condensed', sans-serif;	
}
a, p, h1, h2, h3, h4 { 
	color: rgba(0,0,0,.7);
}
p, a.btn { line-height: 1.2; }
a.btn {
	display: inline-block;
	font-weight: 500;
	padding: 0.5em .7em;
	color: #ffa200; 
	background-color: white;
	border-radius: 4px;
 /*position: relative;
	top: 0;
	box-shadow: 0px 2px 1px rgba(0,0,0,.1);
	transition: all 0.1s ease;*/
}
a.btn:hover {
	/*position: relative;
	top: -1px;
	box-shadow: 0px 3px 2px rgba(0,0,0,.1);*/
	transition: all 0.15s ease;
	color: black;
}
a.link {
	color: #ffa200; 
}
a.link:hover {
	transition: all 0.15s ease;
	color: black;
}
h1, h2, h3, h4 { font-weight: 700; }
h1.subtle, h2.subtle, h3.subtle, h4.subtle { font-weight: 400; }

#nav a.link, a.btn, p,
h4 		{ font-size: 16px; } 
h3 		{ font-size: 20px; }
h2 		{ font-size: 25px; }
h1 		{ font-size: 31px; }

/* Medium and up */
@media screen and (min-width: 40em) {
	#nav a.link,
	a.btn,
	p, 
	h4 		{ font-size: 18px; } 
	h3 		{ font-size: 22px; }
	h2 		{ font-size: 27px; }
	h1 		{ font-size: 33px; }
}


/* PROJECTS */

.project h3	{ margin-top: 0.6em; }
.project {margin-bottom: 2em;}
.project .btn {margin-bottom: 2px; margin-right: 2px;}
.project .cell img {
	width: 10em;
}



/* xSmall for 320px */
@media screen and (max-width: 360px) {
	.cell.project .shrink { width: 100%; }
	.project h3	{ margin-top: 0em; }
}

/* more than 1200px */
@media print, screen and (min-width: 75rem)
{
.grid-margin-x.large-up-2 > .cell.project {
    width: calc(33% - 1.875rem);
}
.grid-padding-x.large-up-2 > .cell.project {
    width: calc(33%);
}


