/* GENERAL */

body {
	padding-top: 3em;
	padding-bottom: 6em;
	/*background-color: #efebe1;*/
	background-color: #eee;
}

.intro .btn {}

svg.logo {
	margin: auto;
	margin-bottom: .5em;
	position: fixed;
	right: 1em;
	top: 1em;
}

/* Medium and up */

@media screen and (min-width: 40em) {
	svg.logo {
		width: 28px;
		height: 25px;
	}
}

/* COLORS */

a.link {
	color: #ffa200;
	border-bottom: 1px rgba(255, 162, 0, .5) solid;
}

a.link:hover {
	border-bottom: 1px rgba(0, 0, 0, .5) solid;
}

/* FONTS */

.small-caps {}

.grid-container.has-top-margin {
	margin-top: 4em;
}


/* Disable 4+2em */

h2.has-top-margin {
	margin-top: 2em;
}

h2.has-padding {
	padding-left: 1em;
	padding-right: 1em;
}

a,
a.btn,
p,
h1,
h2,
h3,
h4 {
	font-family: 'Roboto Condensed', sans-serif;
}

a,
p,
h1,
h2,
h3,
h4 {
	color: rgba(0, 0, 0, .7);
}

p,
a.btn {
	line-height: 1.2;
}

a.btn {
	position: relative;
	display: inline-block;
	font-weight: 500;
	padding: 0.5em .7em;
	color: #ffa200;
	background-color: white;
	border-radius: 4px;
}

a.btn:hover {
	transition: all 0.3s ease;
	color: black;
	position: relative;
}

a.btn:active {
	/*color:white;
	background-color: #ffa200;*/
	position: relative;
	top: 2px;
	transition: all 0.3s ease;
}

a.btn.square {
	padding: 0.7em 0em 0em;
	width: 4.5em;
	height: 4.5em;
	margin-bottom: .5em;
}

a.btn.square h2 {
	color: inherit;
	margin-bottom: 0 !important;
	margin-top: 0.25em;
	padding-bottom: 0;
	line-height: 1;
}

a.btn.square span {
	position: relative;
	top: 0.2em;
}

a.btn.square span.small {
	font-size: 70%;
	font-weight: 500;
}

a.btn .out {
	display: inline;
	position: absolute;
	top: -.4em;
	right: -.4em;
	z-index: 10;
}

a.link {
	color: #ffa200;
}

a.link:hover {
	transition: all 0.15s ease;
	color: black;
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
}

h1.subtle,
h2.subtle,
h3.subtle,
h4.subtle {
	font-weight: 400;
}

#nav a.link,
a.btn,
p,
h4 {
	font-size: 16px;
}

h3 {
	font-size: 20px;
}

h2 {
	font-size: 25px;
}

h1 {
	font-size: 31px;
}

p.small {
	font-size: 13px;
}

/* Medium and up */

@media screen and (min-width: 40em) {
	#nav a.link,
	a.btn,
	p,
	h4 {
		font-size: 18px;
	}
	h3 {
		font-size: 22px;
	}
	h2 {
		font-size: 27px;
	}
	h1 {
		font-size: 33px;
	}
	p.small {
		font-size: 15px;
	}
}


/* PROJECTS */

.project h3 {
	margin-top: 0.5em;
}

.project {
	margin-bottom: 4em;
}

.project .btn {
	margin-right: 2px;
	margin-bottom: 2px;
}

.project img {
	width: 10em;
}

/* SOCIAL */

#social h2 {
	margin-bottom: 1em;
}

#social .cell.small-6 {
	margin-bottom: 2em;
}

.artstation {
	fill: currentColor;
}

;

/* TALKS */

#talks h2 {
	margin-bottom: 1em;
}

#talks p {
	margin-bottom: .5em;
}

/* CONTACT */

#contact h2 {
	margin: auto;
	margin-bottom: 1em;
	max-width: 16em;
}

#contact img {
	width: 133px;
	border-radius: 100%;
	margin-bottom: 1em;
}

/* xSmall for 320px */

@media screen and (max-width: 360px) {
	.cell.project .shrink {
		width: 100%;
	}
	.project h3 {
		margin-top: 0em;
	}
}

/* more than 1200px */

@media print,
screen and (min-width: 75rem) {
	.grid-margin-x.large-up-2 > .cell.project {
		width: calc(33% - 1.875rem);
	}
	.grid-padding-x.large-up-2 > .cell.project {
		width: calc(33%);
	}
