.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/personal-page/v17/DocumentLayout.json
.vs/personal-page/v17/.wsuo
.vs/personal-page/FileContentIndex/61010682-2837-455a-82f9-efc2fb0966db.vsidx
.vs/personal-page/FileContentIndex/5f2386ec-5e7c-4a29-b702-5d50ac423b6a.vsidx
.vs/personal-page/FileContentIndex/2bd69dbf-69e8-46df-9f4b-2286d5d512d8.vsidx
.vs/personal-page/FileContentIndex/268318db-181c-49bc-9bf4-1da6f6a98969.vsidx
.vs/personal-page/FileContentIndex/2088f043-1409-4a01-8a32-6148acb3ec49.vsidx
