html {
    -webkit-text-size-adjust: 100%;
    /* Prevent font scaling in landscape while allowing user zoom */
}

body {}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
small {
    font-family: IBM Plex Sans, sans-serif;

}

h1,
h2,
h3,
h4 {
    border-bottom: 0;
}

a:active {
    position: relative;
    top: 1px;
}

a.active {
    color: var(--nc-tx-1);
    text-decoration: none;
}

a.combo {
    text-decoration: none;
    display: inline-block;
}

a.combo span {
    text-decoration: underline;
}


.info {
    font-size: 0.8em;
    margin-left: 0.5em;
}

sup {
    line-height: 0;
}

.separator {
    margin-top: 2em;
}



header h4 {
    font-weight: 400;
    font-size: 1.0em;
    padding-top: 0;
}

nav {
    position: relative;
}

nav span {
    opacity: 0.25;

}
.disabled {
    opacity: 0.125;
}

.portrait {
    width: 3em;
    float: left;
    margin-right: .6em;
    margin-left: -0.15em;
    border-radius: 100%;
    position: relative;
    //top: -0.3em;
}

.post h1 {
    margin-top: 2em;
}

.post-info {
    margin-top: 1em;
    font-size: .8em;
    margin-bottom: 2.5em;
}

.tag {
    font-size: 80%;
    background-color: grey;
    padding: 0.1em 0.2em;
    color: var(--nc-bg-1);
    font-weight: 600;
    border-radius: 0.2em;
    position: relative;
    top: -0.1em;
}

.btn,
.btn:hover {
    background-color: var(--nc-lk-1);
    color: var(--nc-bg-1);
    padding: 0.1em 0.4em;
    text-decoration: none;
    border-radius: 0.2em;
    font-weight: 600;
    display: inline-block;
}

.btn:hover {
    background-color: var(--nc-lk-2);
}

.smaller {
    font-size: 80%;
}

.smaller.margin {
    margin-left: 2rem;
}

@media only screen and (max-width: 400px) {
    body {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    nav {
        margin-right: -1rem;
    }
}

@media only screen and (min-width: 1000px) {
    body {
        transform: scale(1.25, 1.25);
        /* Equal to scaleX(2) scaleY(0.5) */
        transform-origin: center top;

    }
}

@media only screen and (min-width: 1200px) {
    body {
        transform: scale(1.5, 1.5);
        /* Equal to scaleX(2) scaleY(0.5) */
        transform-origin: center top;
    }
}