:root {
    --main-color: #333;
    --link-color: rgba(255, 160, 0, 1);
    --hover-color: rgba(200, 130, 00, 1);
    --active-color: #666
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
small {
    font-family: IBM Plex Sans, sans-serif;

}


a {}

a:hover {}

.smaller {
    font-size: 0.8em;
}

span.smaller {
    margin-left: 0.5em;
}

sup {
    line-height: 0;
}

.has-margin {
    margin-top: 3em;
}

header h4 {
    font-weight: 400;
    font-size: 1.0em;
}


.portrait {
    width: 5em;
    float: left;
    margin-right: 1em;
    border-radius: 100%;
}
