body {
	background-color: #cccccc;	
}



/* LINKS & BUTTONS */


a.link {
	background-image: linear-gradient(rgba(255,255,255,.75),rgba(255,255,255,.75));
	background-position: 0 1.3em;
  background-repeat: repeat-x;
	line-height: 1;
}
a.link.active {
	font-weight: 600;
	background-size: 2px 4px;

}
	a.link,
	h2 a.link,
	h2.subtle a.link,
	h3 a.link,
	h3.subtle a.link {
		background-size: 2px 2px;
	}
	h2 a.link,
	h2.subtle a.link {
		background-size: 2px 3px;
	}
	a.link:hover,
	h2 a.link:hover,
	h2.subtle a.link:hover,
	h3 a.link:hover,
	h3.subtle a.link:hover {
		color: #000;
		//border-bottom-color: rgba(255,255,255,1);
		background-image: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,1));
	}


a.btn {
	display: inline-block;
	padding: .5em .4em .4em;
	line-height: 1;
	border: 2px solid rgba(255,255,255,0.75);	
}
a.btn:hover {
	color: #000;
	border: 2px solid rgba(255,255,255,1)
}
.btn-group .btn {
	float: left;
	margin-right: -2px;
}



/* PARTS */

.part {
	margin-top: 4rem;
	margin-bottom: 4rem;
}
.part#nav {
	margin-top: 2rem;
}
/* Medium and up */
@media screen and (min-width: 40em) {
	.part {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}
	.part#nav {
		margin-top: 2.5rem;
	}
}


/* FONTS */

 
a, p {
	font-family: 'Eczar', serif;
	font-weight: 400;
	color: #333;
	margin-bottom: 10px;
}
em {
	font-family: 'Neuton', serif;
	font-size: 1.10em;
}
h1, h2, h3, h4 {
	font-family: 'Eczar', serif;
	font-weight: 600;
	color: #333;
	margin-bottom: 10px;
}
h1.subtle, h2.subtle, h3.subtle, h4.subtle {
	font-weight: 400;
}
#nav a.link,
a.btn,
p,
h4 		{ font-size: 19px; } 
h3 		{ font-size: 23px; }
h2 		{ font-size: 28px; }
h1 		{ font-size: 34px; }

h2.h-after-h { margin-top: 17px; }

/* Medium and up */
@media screen and (min-width: 40em) {
	#nav a.link,
	a.btn,
	p, 
	h4 		{ font-size: 22px; } 
	h3 		{ font-size: 29px; }
	h2 		{ font-size: 38px; }
	h1 		{ font-size: 49px; }
	
	h2.h-after-h { margin-top: 28,5x; }
}


/* HELP */









/* - - - - - - - */


/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
